.video-sec-wrap {
	width: 100%;
	min-height: 100vh;
}
.video-sec {
	width: 87%;
	margin: 3em auto;
	text-align: left;
}
.video-sec-middle {
	grid-template-columns: repeat(4,1fr);
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-rows: auto;
	grid-row-gap: 15px;
	grid-column-gap: 10px;
	padding: 20px 0;
}
.thumb-wrap {
	display: inline;
	cursor: pointer;
}
.thumb {
	display: block;
	margin: .4em;
	width: 100%;
	height: auto;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	opacity: 1;
	transition: opacity .1s ease-in-out;
}
.thumb:hover {
	opacity: 1;
	outline: #00b7ff 3.20px solid;
}
.thumb-info {
	display: inline-block;
	height: auto;
	width: 100%;
	padding: .4em;
}
.thumb-title {
	color: #f5f5f5;
	margin: 0;
	font-size: 1.2em;
}
.thumb-user {
	color: #7e7e7e;
	display: block;
	margin: 0;
	font-size: .9em;
}
.thumb-text {
	color: #7e7e7e;
	display: inline-block;
	margin: 0;
	font-size: .8em;
}
.video-sec-title {
	font-weight: bolder;
	font-size: 1.4em;
	color: #f5f5f5;
	margin: 5px 0 10px 10px;
}
.button-wrap {
	text-align: center; 
    margin-bottom: 50px;
}
.video-sec .video-sec-middle .thumb-wrap{
	display: none;
}
.video-sec .video-sec-middle .thumb-wrap:nth-child(1),
.video-sec .video-sec-middle .thumb-wrap:nth-child(2),
.video-sec .video-sec-middle .thumb-wrap:nth-child(3),
.video-sec .video-sec-middle .thumb-wrap:nth-child(4),
.video-sec .video-sec-middle .thumb-wrap:nth-child(5),
.video-sec .video-sec-middle .thumb-wrap:nth-child(6),
.video-sec .video-sec-middle .thumb-wrap:nth-child(7),
.video-sec .video-sec-middle .thumb-wrap:nth-child(8),
.video-sec .video-sec-middle .thumb-wrap:nth-child(9),
.video-sec .video-sec-middle .thumb-wrap:nth-child(10),
.video-sec .video-sec-middle .thumb-wrap:nth-child(11),
.video-sec .video-sec-middle .thumb-wrap:nth-child(12),
.video-sec .video-sec-middle .thumb-wrap:nth-child(13),
.video-sec .video-sec-middle .thumb-wrap:nth-child(14),
.video-sec .video-sec-middle .thumb-wrap:nth-child(15),
.video-sec .video-sec-middle .thumb-wrap:nth-child(16),
.video-sec .video-sec-middle .thumb-wrap:nth-child(17),
.video-sec .video-sec-middle .thumb-wrap:nth-child(18),
.video-sec .video-sec-middle .thumb-wrap:nth-child(19),
.video-sec .video-sec-middle .thumb-wrap:nth-child(20),
.video-sec .video-sec-middle .thumb-wrap:nth-child(21),
.video-sec .video-sec-middle .thumb-wrap:nth-child(22),
.video-sec .video-sec-middle .thumb-wrap:nth-child(23),
.video-sec .video-sec-middle .thumb-wrap:nth-child(24),
.video-sec .video-sec-middle .thumb-wrap:nth-child(25),
.video-sec .video-sec-middle .thumb-wrap:nth-child(26),
.video-sec .video-sec-middle .thumb-wrap:nth-child(27),
.video-sec .video-sec-middle .thumb-wrap:nth-child(28),
.video-sec .video-sec-middle .thumb-wrap:nth-child(29),
.video-sec .video-sec-middle .thumb-wrap:nth-child(30),
.video-sec .video-sec-middle .thumb-wrap:nth-child(31),
.video-sec .video-sec-middle .thumb-wrap:nth-child(32){
	display: inline-block;
}
#load-more{
	display: flex;
	font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	border-radius: 4px;
	border: 1px solid white;
	cursor: pointer;
	line-height: 1;
	padding: 0.75em 1.5em;
	text-align: center;
	display: flex;
	justify-content: center;
	margin: 2em 0 2em 0;
}
#load-more:hover{
	border: 1px solid #00b7ff;
	background: #00b7ff;
}
.loadbutton{
	    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1456px) {
	.video-sec-middle {
		grid-template-columns: repeat(2,1fr);
	}
}
@media only screen and (max-width: 1024px) {
	.video-sec-middle {
	  grid-template-columns: repeat(3,1fr);
	}
}
@media only screen and (max-width: 756px) {
  .video-sec-middle {
   grid-template-columns: repeat(2,1fr);
  }
}
@media only screen and (max-width: 496px) {
  .video-sec-middle {
   grid-template-columns: repeat(1,1fr);
  }
}








