.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.play-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img{
    width: 100%;
    border-radius: 15px;
}

.side-video-list .small-thumbnail{
    flex-basis: 49%;
}

.side-video-list .vid-info{
    flex-basis: 49%;
}

.play-video .tags a{
    color: #0000ff;
    font-size: 13px;
}

.play-video h3{
    font-weight: 600;
    font-size: 22px;
}

.play-video .play-video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.play-video .play-video-info a img{
    width: 20px;
    margin-right: 8px;
}

.play-video .play-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.plublisher div{
    flex: 1;
    line-height: 18px;
}

.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.plublisher div p{
    color: #2c2b2b;
    font-weight: 600;
    font-size: 18px;
}

.plublisher div span{
    font-size: 13px;
    color: #7c7a7a;
}

.plublisher button{

    background: red;
    color: #fff;
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 600px;
}

.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}

.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #040000;
}

.vid-description h4{
    font-size: 14px;
    color: #0a0a0a;
    margin-top: 15px;
}

.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.add-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-top: 10px;
    background: transparent;
}

.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: -15px;
}

.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}

.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}

.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}

.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
    margin-top: 2px;
}

.old-comment .acomment-action span{
    margin-right: 20px;
    color: #5a5a5a;
}

.old-comment .acomment-action a{
    color: #0000ff;
}



@media (max-width: 900px){
    .play-video{
        flex-basis: 100%;
    }

    .right-sidebar{
        flex-basis: 100%;
    }

    .play-container{
        padding-left: 5%;
    }

    .vid-description{
        /* border: 1px solid red; */
        width: 100%;
        padding-left: 0;
    }

    .vid-description hr{
        display: none;
        /* width: 100%; */
    }
    .play-video .play-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
    .old-comment{
        /* border: 1px solid rgb(207, 66, 66); */
        width: 100%;
    }
    .old-comment .acomment-action span{
        margin-right: 17px;
    }

    .play-video hr{
        width: 100%;
        /* border: 1px solid rgb(10, 10, 10); */
        /* border: 0; */
        /* height: 1px; */
        /* background: #ccc; */
        /* margin: 10px 0; */
    }
    
    .plublisher{
        width: 100%;
        /* border: 1px solid rgb(11, 180, 53); */
        /* display: flex; */
        /* align-items: center; */
        /* margin-top: 20px; */
    }
    .plublisher button{
        display: none;
        /* margin-left: -60px; */
        padding: 4px 15px;
        /* margin-left: 10%; */
        /* margin-right: 300%; */
    }
    .play-video{
        /* border: 1px solid black; */
        width: 25%;
        padding-right: 6%;
    }
    .right-sidebar{
        padding-right: 6%;
    }
}
